.button{
    padding: 12px 35px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    transition: all .4s ease;
    &.with-shadow{
        box-shadow: 0px 3px 10px rgba($color: $color-dark-bold, $alpha: 0.45);
    }
    &.button-white{
        background: $color-white;
        color: $color-green-bold;
    }
    &.button-green{
        background: $color-green-light;
        color: $color-white;
        &:hover{
            box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
            color: $color-white;
            background: $color-green-light;
        }
        &:active{
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
            background: $color-green-boldlight;
        }
	}
	&.button-orange{
		background: $color-orange;
        color: $color-white;
        &:hover{
            box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
            color: $color-white;
            background: $color-orange;
        }
        &:active{
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
            background: $color-orange;
        }
	}
	&.button-orange-white{
		background: $color-white;
        color: $color-orange;
        &:hover{
            box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
            color: $color-white;
            background: $color-orange;
        }
        &:active{
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
			background: $color-orange;
			color: $color-white;
        }
	}
    &.transparent{
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.07);
        color: $color-white;
        &:hover{
            box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
            color: $color-orange;
			background: $color-orange-light;
			border-color: $color-orange-light;
        }
        &:active{
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
			background: $color-orange-light;
			color: $color-orange;
			border-color: $color-orange-light;
        }
    }
    &.button-border-green{
        color: $color-green-light;
        border: 1px solid $color-green-light;
        &:hover{
            box-shadow: 0px 8px 10px rgba(191, 201, 216, 0.6);
            color: $color-white;
            background: $color-green-light;
        }
        &:active{
            box-shadow: 0px 2px 2px #BFC9D8;
            background: $color-green-boldlight;
        }
    }
    &.with-img{
        display: inline-block;
        padding: 8px 41px;
        box-shadow: 0px 4px 10px rgba(191, 201, 216, 0.53);
        transition: all .4s ease;
        &:hover{
            box-shadow: 0px 8px 18px rgba(191, 201, 216, 0.53);
        }
        &:active{
            background: $color-gray-light;
            box-shadow: 0px 4px 10px rgba(191, 201, 216, 0.53);
        }
        img{
            display: block;
            max-width: 135px;
        }
    }
}
