@import url('https://rsms.me/inter/inter.css');

.title{
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 25px;
    font-weight: bold;
    color: $color-dark;
    letter-spacing: -1px;
    &.small{
        font-size: 24px;
    }
    &.withbg{
        position: relative;
        max-width: 660px;
        &.left{
            &:after{
                left: -50px;
                right: auto;
            }
        }
        span{
            position: relative;
            z-index: 2;
            margin-right: 45px;
            display: block;
        }
        &:after{
            content: '';
            width: 105px;
            height: 105px;
            background-image: url(~assets/images/Union.svg);
            display: block;
            position: absolute;
            top: -45px;
            right: 0;
        }
    }
}
