// Color Primary
// $color-primary: #000;
$color-black: #000;
$color-white: #fff;

// Color Dark
$color-dark-bold: #39434e;
$color-dark-medium: #697586;
$color-dark: #27293F;
$color-dark-light: #bfc9d8;
$color-dark-lighter: #E1E6ED;

// Color Gray
$color-gray-bold: #ced5db;
$color-gray: #dfe4e8;
$color-gray-light: #f3f4f6;
$color-gray-lighter: #f6f8fa;

// Color Yellow
$color-yellow: #ffcf1f;
$color-yellow-light: #fff8de;

// Color Red
$color-red: #fa5252;
$color-red-light: #fff2f2;

// Color Green
$color-green-bold: #1a8644;
$color-green-boldlight: #00A728;
$color-green: #39b54d;
$color-green-light: #00cf50;
$color-green-lighter: #a4ffb3;
$color-green-super-light: #eefff5;

$color-orange: #FC5711;
$color-orange-light: #FFF7EB;
