footer{
	background: $color-gray-lighter;
	.content-padding{
		padding: 2em 0;
	}
    img{
        &.logo-footer{
            max-width: 75px;
            margin-bottom: 35px;
        }
    }
    .footer-title{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        li{
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                color: $color-dark-medium;
                &:hover{
                    color: $color-dark-medium;
                }
            }
        }
    }
    .copyright{
        .copyright-footer{
            p{
                font-size: 13px;
                color: $color-dark-light;
                margin-bottom: 0;
            }
            ul{
                margin-bottom: 10px;
                display: block;
                li{
                    display: inline-block;
                    margin-bottom: 0;
                    a{
                        font-size: 15px;
                        position: relative;
                        margin-left: 25px;
                        &:first-child{
                            margin-left: 0;
                        }
                        &:last-child{
                            &:before{
                                content: '';
                                width: 4px;
                                height: 4px;
                                background: $color-dark-medium;
                                border-radius: 50%;
                                display: inline-block;
                                position: absolute;
                                left: -14px;
                                top: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
}
